# Eclipse
*.classpath
*.project
*.settings/

# Maven / Gradle build output
/target/
/build/

# Compiled class files
*.class

# Executable JARs
*.jar

# Logs
*.log

# AWS Elastic Beanstalk local files
.elasticbeanstalk/
*.cfg.yml

# OS / IDE specific
.DS_Store
.vscode/